{ // {{ .field }}
    if !slices.Contains({{ .sliceType }}{{ .var }}, model.{{ .field }}) {
        errors = append(errors, goval.Error{
            Type:   "{{ .errorType }}",
            Field:  "{{ .name }}",
            Values: map[string]any{
                "field": "{{ .name }}",{{ range $key, $value := .meta }}{{"\n"}}"{{ $key }}": {{ $value }},{{ end }}
            },
            Path:   []string{"{{ .name }}"},
        })
    }
}
