    { // {{ .field }}
        var found bool
        for _, v := range []int{{ .var }} {
            if model.{{ .field }} == v {
                found = true
                break
            }
        }
        if !found {
            errors["{{ .name }}"] = append(errors["{{ .name }}"], goval.Error{
                Type: goval.ErrorTypeInvalid,
                Values: map[string]any{
                    "field": "{{ .name }}",
                },
            })
        }
    }
